/* styles/globals.css */
/* styles/TypingText.module.css */

.typingText {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap; /* Evita que el texto se ajuste a la línea */
  overflow: hidden; /* Oculta el texto que se desplaza fuera del contenedor */
  position: relative;
  display: inline-block;
  width: 100%; /* Ajusta el ancho según el diseño de tu página */
  height: 40px; /* Establece una altura fija o mínima según el contenido */
  line-height: 40px; /* Alinea verticalmente el texto si es necesario */
  box-sizing: border-box;
}

.typingText .typed-cursor {
  display: inline-block; /* Asegúrate de que el cursor esté en línea con el texto */
  background-color: black; /* Color del cursor de tipeo */
  height: 1em; /* Ajusta la altura del cursor según el tamaño de la fuente */
  width: 2px; /* Ajusta el ancho del cursor según el diseño */
  vertical-align: bottom; /* Alinea verticalmente el cursor con el texto */
}

  /* styles/globals.css */
  
  .tilt {
    /* Tamaño y forma del elemento */
    width: 200px;
    height: 200px;
    background-color: #3498db; /* Color de fondo */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px; /* Bordes redondeados */
  
    /* Sombra para mejorar el efecto visual */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
    /* Transición para suavizar el efecto */
    transition: transform 0.3s ease;
  }
  
  /* Opcional: Puedes agregar un estilo diferente cuando el elemento esté siendo inclinado */
  .tilt:hover {
    /* Estilo adicional al pasar el ratón sobre el elemento */
    cursor: pointer;
    transform: scale(1.05); /* Escalar el elemento ligeramente */
  }

  
  /* Agrega animación si deseas un efecto más suave al cambiar el texto */
  .typingText::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    /* Puedes agregar efectos adicionales aquí si lo deseas */
  }